body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameboard {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.circle {
    border: 20px solid blue;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
}


.cross {
    width: 90px;
    height: 90px;
    position: relative;
   transform:rotate(45deg);
 -ms-transform:rotate(45deg); /* IE 9 */
 -webkit-transform:rotate(45deg); /* Safari and Chrome */
 }
 
 .cross:before, .cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: #d00;
 }
 
 .cross:before {
   left: 50%;
   width: 30%;
   margin-left: -15%;
   height: 100%;
 }
 
 .cross:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }